<h1>User list</h1>

<% if notice.present? %>
    <p><%= notice %></p>
<% end %>
<%# ActsAsTaggableOn::Tag.each do |tag| %>
    <%#= tag %>
<%# end %>

<% @users.each do |user| %>
    <div class="user-<%= user.id %>">
        <p><%= link_to user.name, user %></p>
        <p><%= user.email %></p>
        <% user.tag_list.each do |tag| %>
            <%= tag %>
        <% end %>
    </div>
<% end %>